@import 'colors.css';
@import 'typography.css';
@import 'buttons.css';
@import 'spinners.css';
@import 'pods.css';
@import 'tabs.css';
@import 'inputs.css';
@import 'lists.css';
@import 'layouts.css';
@import 'layers.css';
@import 'pagination.css';
@import 'pills.css';
@import 'icons.css';

body {
  font-size: 12px;
}

:root {
  --is-phone: false;
  --is-tablet: false;
  --is-desktop: false;
}

@media (max-width: 420px) {
  :root {
    --is-phone: true;
  }
}

@media (max-width: 768px) {
  :root {
    --is-tablet: true;
  }
}

@media (max-width: 1024px) {
  :root {
    --is-desktop: true;
  }
}
