<ng-form name="webhookForm">
  <div class="form-group row">
    <label class="col-md-3 sm-label-right">
      Webhook Source
      <help-field key="pipeline.config.webhook.source"></help-field>
    </label>

    <div class="col-md-3">
      <input type="text" class="form-control input-sm"
             ng-model="vm.trigger.source"
             ng-change="vm.compressWhitespace()"
             name="source"
             required
      />
    </div>
  </div>

  <!--<div class="form-group row slide-in animated" ng-if="{viewState.exampleLoaded}">-->
  <div class="form-group slide-in animated">
    <div class="row">
      <div class="col-md-3 sm-label-right">
        Webhook URL
      </div>
      <div class="col-md-6">
        http://localhost:8089/webhooks/trigger/<i>ci</i>/<i>teamcity</i><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 sm-label-right">
        Example Webhook Payload
      </div>
      <div class="col-sm-9 col-sm-offset-3">
        some json here
      </div>
    </div>
  </div>


  <div class="form-group row slide-in animated" ng-if="cronForm.cronExpression.$error.cronExpression">
    <div class="col-sm-9 col-sm-offset-3 error-message">
      {{vm.validationMessages.error}}
    </div>
  </div>

</ng-form>
