.Applications .zombie-label {
  border: 1px solid var(--color-accent-g2);
  border-radius: 2px;
  text-align: left;
  color: var(--color-text-caption);
}

.Applications .Select-control {
  border: 1px dashed var(--color-accent-g2);
}

.Applications {
  width: 100%;
}

.Applications ul,
.Applications .Select {
  width: 80%;
}
