<div ng-if="ctrl.state.loaded" class="clearfix">
  <div class="container-fluid form-horizontal">
    <h4>Basic Settings</h4>
    <kubernetes-manifest-basic-settings command="ctrl.$scope.stage" metadata="ctrl.metadata">
    </kubernetes-manifest-basic-settings>

    <h4>Manifest Configuration</h4>
    <ng-form name="kubernetesManifestSource">
      <stage-config-field label="Manifest Source" help-key="kubernetes.manifest.source">
        <label class="sm-label-right">
          <input type="radio" ng-model="ctrl.$scope.stage.source" value="{{ctrl.textSource}}" />
          {{ ctrl.textSource | robotToHuman }}
          <span ng-if="stage.source === ctrl.textSource">
            -
            <kubernetes-copy-from-template-button application="application" handle-copy="ctrl.handleCopy">
            </kubernetes-copy-from-template-button>
          </span> </label
        ><br />
        <label class="sm-label-right">
          <input type="radio" ng-model="ctrl.$scope.stage.source" value="{{ctrl.artifactSource}}" />
          {{ ctrl.artifactSource | robotToHuman }}
        </label>
      </stage-config-field>
    </ng-form>
    <kubernetes-manifest-entry ng-if="stage.source === ctrl.textSource" manifests="stage.manifests" command="stage">
    </kubernetes-manifest-entry>
    <stage-config-field
      label="Expected Artifact"
      help-key="kubernetes.manifest.expectedArtifact"
      field-columns="8"
      ng-if="ctrl.$scope.stage.source === ctrl.artifactSource"
    >
      <stage-artifact-selector
        pipeline="ctrl.$scope.$parent.pipeline"
        stage="ctrl.$scope.stage"
        expected-artifact-id="ctrl.$scope.artifact.source == 'expectedArtifact' && ctrl.$scope.stage.manifestArtifactId"
        artifact="ctrl.$scope.artifact.source == 'inlineArtifact' && ctrl.$scope.artifact"
        on-expected-artifact-selected="ctrl.onExpectedArtifactSelected"
        on-artifact-edited="ctrl.onArtifactEdited"
      >
      </stage-artifact-selector>
    </stage-config-field>
  </div>
</div>
