<div ng-controller="spotCloneServerGroupStageCtrl as cloneServerGroupStageCtrl">
  <div ng-if="!pipeline.strategy">
    <div ng-if="viewState.loading" class="horizontal center middle">
      <loading-spinner size="'small'"></loading-spinner>
    </div>
    <div ng-if="!viewState.loading">
      <account-region-cluster-selector
        application="application"
        component="stage"
        accounts="accounts"
        single-region="true"
        cluster-field="targetCluster"
      >
      </account-region-cluster-selector>
    </div>
  </div>
  <stage-config-field label="Target">
    <target-select model="stage" options="cloneServerGroupStageCtrl.cloneTargets"></target-select>
  </stage-config-field>
  <stage-platform-health-override application="application" stage="stage" platform-health-type="'Spot'">
  </stage-platform-health-override>
</div>
