@import (reference) '~core/presentation/less/imports/commonImports.less';

.RunningTasksTag {
  .popover {
    border: 1px solid var(--color-dovegray);
    text-transform: none;
    color: var(--color-mineshaft);
    font-weight: 400;
    font-size: 80%;
    border-radius: 0;

    &.bottom .arrow {
      border-bottom-color: var(--color-dovegray);
    }

    .popover-content {
      max-height: 350px;
      overflow-y: scroll;
    }
  }
}
