.ArtifactActionsMenu {
  > button {
    padding: 0 var(--xs-spacing);
    border: none;
    text-transform: uppercase;
    color: inherit;
    font-size: inherit;
  }

  &.rollback-actions {
    display: flex;

    > button {
      font-size: 12px;
      font-weight: 700;
      padding: 2px var(--s-spacing);
      color: var(--color-accent);
      letter-spacing: 0.2px;
      box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

      &:hover {
        background-color: var(--color-alabaster);
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
          0px 1px 10px 0px rgb(0 0 0 / 12%);
      }
    }
  }
}
