.ArtifactActionsMenu {
  > button {
    padding: 0 var(--xs-spacing);
    border: none;
    text-transform: uppercase;
    color: inherit;
    font-size: inherit;
  }

  &.rollback-actions {
    align-self: baseline;
    display: flex;

    > button {
      font-size: 12px;
      font-weight: 700;
      background-color: #428eff;
      color: var(--color-white);
      letter-spacing: 0.2px;
    }
  }
}
