.environment-row-element {
  display: grid;
  grid-template-columns: [icon] 40px [details] 1fr;
  padding: var(--xl-spacing) var(--base-horizontal-padding);

  .row-details {
    grid-column: details;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-right: var(--xl-spacing);
  }

  .row-icon {
    grid-column: icon;
    display: flex;
  }

  .row-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--color-charcoal);

    & > a {
      color: inherit;
    }
  }

  .version-metadata {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--2xs-spacing);
    color: var(--color-concrete);
    white-space: pre-wrap;

    .metatdata-separator {
      margin: 0 6px;
    }

    .metadata-icon {
      margin-right: 6px;

      & > div {
        display: flex;
      }
    }
  }

  .git-link {
    min-width: 0;
    display: flex;
    flex-direction: column;

    & > .HoverablePopover {
      text-decoration: none;
    }

    .git-commit-message-sha {
      display: flex;

      & > a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        font-weight: 600;
        color: var(--color-text-link-g1);
      }
    }
  }
}

.git-commit-tooltip {
  max-height: 300px;
  overflow: auto;
}
