.Resource {
  .resource-regions {
    color: var(--color-titanium);
  }

  .resource-status {
    margin-top: var(--s-spacing);
    display: grid;
    grid-template-columns: 14px auto;
    column-gap: 6px;

    & > i {
      line-height: 20px;
    }
  }
}
