@value variables: "../../_variables.module.css";
@value colorKey from variables;

.ColumnHeader {
  background-color: colorKey;
  display: flex;
  height: 32px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}

.icon {
  flex: 0 0 24px;
  margin-left: 16px;
}

.text {
  flex: 1 1 1px;
  text-align: center;
  margin: 0 16px;
}
