.manual-execution-dialog {
  .modal-content {
    overflow: visible;
  }

  .manual-execution-parameters-description {
    margin-top: 20px;
  }

  .pipeline-select {
    width: 100%;
  }

  .trigger-select {
    width: 100%;
  }

  .trigger-template {
    padding: 5px 0;
  }

  .parameter-option-select {
    width: 100%;
  }
}
