<div class="form-group row">
  <div class="col-sm-3 sm-label-right">Github Repository</div>
  <div class="col-sm-9">
    <input
      name="repository"
      class="form-control input-sm"
      ng-model="vm.notification.repo"
      placeholder="enter the Github repo"
    />
  </div>
  <div class="col-sm-9 col-sm-offset-3" ng-if="!vm.notification.repo">
    <strong>Note:</strong> If not provided the repo will be infered from the trigger
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-3 sm-label-right">Commit SHA</div>
  <div class="col-sm-9">
    <input
      name="commit-sha"
      class="form-control input-sm"
      ng-model="vm.notification.commit"
      placeholder="enter the Status commit"
    />
  </div>
  <div class="col-sm-9 col-sm-offset-3" ng-if="!vm.notification.commit">
    <strong>Note:</strong> If not provided the sha will be infered from the trigger
  </div>
</div>
