<div ng-if="viewState.loading">
  <div ng-if="viewState.loading" class="horizontal center">
    <loading-spinner size="'small'"></loading-spinner>
  </div>
</div>
<div class="form-horizontal" ng-if="!viewState.loading">
  <stage-config-field label="Command Template ID" help-key="pipeline.config.script.gremlinCommandTemplateId">
    <input type="text" class="form-control input-sm"
           ng-model="stage.gremlinCommandTemplateId"/>
  </stage-config-field>
  <stage-config-field label="Target Template ID" help-key="pipeline.config.script.gremlinTargetTemplateId">
    <input type="text" class="form-control input-sm"
           ng-model="stage.gremlinTargetTemplateId"/>
  </stage-config-field>
  <stage-config-field label="API Key" help-key="pipeline.config.script.gremlinApiKey">
    <input type="text" class="form-control input-sm"
           ng-model="stage.gremlinApiKey"/>
  </stage-config-field>
</div>
